In [ ]:
"list" Dataypes

In [ ]:
.pop() method

In [2]:
students=['ashok','divya','kumar','vivek','latha','kashyap']

In [3]:
print(students.pop())

kashyap

In [4]:
print(students)

['ashok', 'divya', 'kumar', 'vivek', 'latha']

In [5]:
k=students.pop()

In [6]:
print(k)

latha

In [7]:
print(students)

['ashok', 'divya', 'kumar', 'vivek']

In [8]:
print(students.title())

AttributeError: 'list' object has no attribute 'title'

In [10]:
print(k.title())

Latha

In [11]:
my_students=['ashok','ravi','harshini','anand']

In [12]:
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [ ]:
req:remove specific element from the list

In [13]:
my_students.remove('ravi')

In [14]:
print(my_students)

['ashok', 'harshini', 'anand']

In [ ]:
introduction to organising the a list ---> sort()

In [23]:
Cars=['maruti','bmw','audi','toyata','honda']
print(Cars)

['maruti', 'bmw', 'audi', 'toyata', 'honda']

In [24]:
Cars.sort()

In [25]:
print(Cars)

['audi', 'bmw', 'honda', 'maruti', 'toyata']

In [26]:
Cars=['maruti','bmw','audi','toyata']

In [27]:
Cars.sort()

In [28]:
print(Cars)

['audi', 'bmw', 'maruti', 'toyata']

In [ ]:
temp_sorting :

In [29]:
my_students=['ashok','ravi','harshini','anand',]
print(sorted(my_students))

['anand', 'ashok', 'harshini', 'ravi']

In [30]:
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [ ]:
Finding Length of a list :

In [31]:
len(my_students)

4

In [32]:
len(Cars)

4

In [48]:
my_students=['ashok','ravi','harshini','anand']
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [49]:
my_students.insert(500,'abc')
print(my_students)

['ashok', 'ravi', 'harshini', 'anand', 'abc']

In [37]:
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [ ]:
my_students.insert(500,'abc')

In [51]:
Cars=['maruti','bmw','audi','toyata']
Cars.insert(400,'benz')
print(Cars)

['maruti', 'bmw', 'audi', 'toyata', 'benz']